.box {
  height: 700px;
  width: 440px;
  background-color: rgb(65, 65, 117);

  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 35px;

  box-sizing: border-box;
}
.mini-box {
  height: 610px;
  width: 360px;
  background-color: white;
  margin-top: 10px;
}
.sign {
  height: 80px;
  width: 150px;

  font-size: large;
  margin: auto;
  margin-top: -590px;
}
.free {
  height: 80px;
  width: 250px;
  margin: auto;
  margin-top: -30px;
  margin-left: 60px;
}
